{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="card-body">
            <h1>연간 박스 오피스
                : {{ target_dt.year }}년</h1>
            <div>
                <form id="filterForm">
                    <div class="mb-3">
                        <label for="month" class="form-label">조회 년</label>
                        <select class="form-select" id="target_date" name="target_date">
                            <option value="{{ target_date }}">
                                {{ target_date }}
                            </option>
                            {% for sd in select_dates %}
                                <option value="{{ sd }}">
                                    {{ sd }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">조회</button>
                </form>
            </div>

            <div>
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        <th>순위</th>
                        <th>영화제목</th>
                        <th>일간 매출액</th>
                        <th>매출액 점유율</th>
                        <th>관객수</th>
                        <th>스크린수</th>
                        <th>상영수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bo in boxoffices %}
                        <tr>
                            <td style="text-align:right">{{ bo.rank }}</td>
                            {% if bo.movie_id_id %}
                                <td>
                                    <a href="{% url 'korean_boxoffice:movie_info' bo.movie_id_id %}">{{ bo.movie_name }}</a>
                                </td>

                            {% else %}
                                <td>{{ bo.movie_name }}</td>
                            {% endif %}

                            <td style="text-align:right">{{ bo.revenue }}원</td>
                            <td style="text-align:right">{{ bo.revenue_share }}%</td>
                            <td style="text-align:right">{{ bo.moviegoers_num }}</td>
                            <td style="text-align:right">{{ bo.screens_num }}</td>
                            <td style="text-align:right">{{ bo.screenings_num }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>


        <div>
            <canvas id="myChart"></canvas>
        </div>

    </div>

{% endblock %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

    <script>
        const ctx = document.getElementById('myChart');
        Chart.defaults.set('plugins.datalabels', {
            color: 'black'
        })
        new Chart(ctx, {
            plugins: [ChartDataLabels],
            type: 'pie',
            data: {
                labels: [
                    {% for bo in boxoffices %}
                        '{{ bo.movie_name }}',
                    {% endfor %}
                    {% if boxoffices %}
                        '기타 영화'
                    {% endif %}
                ],

                datasets: [{
                    label: '매출액 점유율(%)',
                    data: [
                        {% for bo in boxoffices %}
                            {{ bo.revenue_share }},
                        {% endfor %}
                        {% if boxoffices %}
                            {{ etc_share }}
                        {% endif %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },

                plugins: {
                    legend: {
                        display: true,
                        position: 'right'
                    },
                    datalabels: { // datalables 플러그인 세팅
                        formatter: function (value, context) {
                            var idx = context.dataIndex; // 각 데이터 인덱스

                            // 출력 텍스트
                            if (value > 5) {
                                return context.chart.data.labels[idx] + ' ' + value + '%';
                            } else {
                                return ''
                            }
                        },
                        font: { // font 설정
                            weight: 'bold',
                            size: '12px',
                        },
                    },
                }

            }
        });
    </script>s
{% endblock %}