{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="card-body">
            <h1>일간 박스 오피스
                : {{ target_dt.year }}년 {{ target_dt.month }}월 {{ target_dt.day }}일</h1>
            <div >
                <form id="filterForm">

                    <div class="mb-3">
                        <label for="target_date" class="form-label">조회일</label>
                        <input type="date" class="form-control" id="target_date" name="target_date"
                               value="{{ target_date }}"
                               min="2025-01-01" max="2025-04-30">
                    </div>
                    <button type="submit" class="btn btn-primary">조회</button>
                </form>
            </div>

            <div>
                <table class="table" id="dataTable">
                    <thead>
                    <tr>
                        <th>순위</th>
                        <th>영화제목</th>
                        <th>일간 매출액</th>
                        <th>매출액 점유율</th>
                        <th>관객수</th>
                        <th>스크린수</th>
                        <th>상영수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for db in daily_boxoffices %}
                        <tr>
                            <td style="text-align:right">{{ db.rank }}</td>
                            <td><a href="{% url 'korean_boxoffice:movie_info' db.movie_id_id %}">{{ db.movie_name }}</a></td>
                            <td style="text-align:right">{{ db.revenue }}원</td>
                            <td style="text-align:right">{{ db.revenue_share }}%</td>
                            <td style="text-align:right">{{ db.moviegoers_num }}</td>
                            <td style="text-align:right">{{ db.screens_num }}</td>
                            <td style="text-align:right">{{ db.screenings_num }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>


        <div>
            <canvas id="myChart"></canvas>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');
        Chart.defaults.set('plugins.datalabels', {
            color: 'black'
        })
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [
                    {% for db in daily_boxoffices %}
                        '{{ db.movie_name }}',
                    {% endfor %}
                    {% if daily_boxoffices %}
                        '기타 영화'
                    {% endif %}
                ],
                datasets: [{
                    label: '매출액 점유율(%)',
                    data: [
                        {% for db in daily_boxoffices %}
                            {{ db.revenue_share }},
                        {% endfor %}
                        {% if daily_boxoffices %}
                            {{ etc_share }}
                        {% endif %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },

                plugins: {
                    legend: {
                        display: true,
                        position: 'right'
                    },

                }

            }
        });
    </script>

{% endblock %}
