<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Boxoffice</title>
</head>
<body>
<h1> {{ my_text }}</h1>
utc: {{ target_ranking_date }}
<br>
kst: {{ target_ranking_date.date }}
<br>
kst: {{ target_ranking_date.year }} {{ target_ranking_date.month }} {{ target_ranking_date.day }} {{ target_ranking_date.hour }}

<table>
    <thead>
    <tr>
        <th>순위</th>
        <th>영화제목</th>
        <th>매출액</th>
    </tr>
    </thead>
    <tbody>
    {% for db in daily_boxoffices %}
        <tr>
            <td>{{ db.rank }}</td>
            <td>{{ db.movie_name }}</td>
            <td>{{ db.revenue }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>


</body>
</html>